* {
    padding: 0;
    margin: 0;
}

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    background-color: #f4cbc6;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    text-align: right;
}

.nav-menu a {
    text-decoration: none;
    color: #361D2E;
}

.nav-menu a:hover {
   text-decoration: underline;
    color: #5B5941; 
}

.nav-menu a.active {
  font-weight: bold;
  border-bottom: 2px solid #784f41;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.nav-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px 0;
  border-radius: 2px;
  background-color: #361D2E;
  transition: background-color 0.3s ease;
}

.nav-toggle:hover {
    color: #5B5941;
}


@media (max-width: 768px) {
    .nav-toggle {
        display: block;
        position: fixed;
        top: 2rem;
        right: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1001;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        gap: 1em;
        position: fixed;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: #f4cbc6;
        padding: 1rem;
        z-index: 1000;
        
    }
    .nav-menu.active {
        display: flex;
    }
}

p, h1, h2, h3, ul, li {
    padding: 10px;
    align-items: center;
    text-align: center;
    list-style-position: inside;
}

.nav-brand {
    text-decoration: none;
    color: #361D2E;
}
