html {
font-family: "rubik", sans-serif;
font-weight: 400;
font-style: normal;
}

html {
font-family: "lora", serif;
font-weight: 400;
font-style: normal;
}


nav {
    font-family: "rubik", sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1px;
     min-height: 40px;
    }

body{
    background-color: floralwhite;
    }

p {
    font-family: "lora", serif;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-family: "rubik", sans-serif;
    text-align: center;
    font-size: 35px;
    background-color: #77AF9C;
    color: #222222;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .5px;

    } 

h1 a {
    font-family: "rubik", sans-serif;
    text-decoration: none;
    color: #222222;
}

 h1 a:hover{

        color: floralwhite;
        text-decoration: none;
        }
        
h2 {
    font-family: "rubik", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #222222;
    }

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 30px;
    border: 10px;
    }

nav a {
    font-family: "rubik", sans-serif;
    text-decoration: none;
    color: #E07A5F;
    text-align: center;
    margin: 0 5px;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
    line-height: 40px;
    }

nav a:hover {

        color: #77AF9C;
        font-size: 27px;
        font-weight: 300;
        text-decoration: none;
        transform: scale(1.1);
        }

a {
    text-decoration: none;
    color: #255957;
}
a:hover {
    text-decoration: underline;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}